.icon{

    margin-top: 8px;
    margin-left: 15px;

}
p {
    font-family: "Arial Black", Georgia, Serif;
    margin-left: 10px;

}
input{

    margin-left: 30px;
    margin-top: 5px;
    width: 876px;

}
.btnBoton{

            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;

        }

.imagen {
    width: 250;
    border-radius: 12px;
}
.gigante {
    background-color: rgb(243,243,243);
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 12px;
}