  .form{
    margin-top: -4px;
  }
  #search{
    text-align: left;
    color: #b5b5b5
  }
  .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 10px;
  }
  #logo{
    max-width: 30px;
    max-height: 30px;
  }

  .dnav{
    font-size: 25px;
    margin-top:12px;
  }

  .idnav{
    margin-right: 25px;
    color:#b5b5b5;
  }

  .navbar{
    background-color: white
  }